@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
.page {
	padding-top: 100px;
	padding-bottom: 100px;
	&-light {
		background: $light;
	}
	&-dark {
		background: $dark;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1100px;
	padding-left: 15px;
	padding-right: 15px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 26px;
	padding-top: 46px;
}
.nav {
	display: flex;
	list-style: none;
	padding-left: 0;
	&-item {
		margin-right: 45px;
	}
	&-link {
		color: $dark;
		text-decoration: none;
	}
}
.title-h2 {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}
.cart {
	background-image: url(../images/cart.svg);
	display: block;
	padding-left: 50px;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 0 center;

	&-count {
		background-image: url(../images/cart-bg.svg);
		background-repeat: no-repeat;
		background-position: 0 center;
		color: $white;
		display: block;
		font-size: 12px;
		font-weight: 700;
		padding: 10px 24px;
	}
}
.btn {
	background-color: $accent;
	color: $white;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 18px 28px;
	&-xs {
		padding: 5px 28px;
		display: inline-block;
	}
	&-center {
		max-width: 220px;
		margin: 0 auto;
		display: block;
		text-align: center;
		span {
			margin-right: 15px;
		}
		img {
			display: inline;
		}
	}
}
.main {
	display: flex;
	justify-content: space-between;
	&-item {
		flex: 0 0 50%;
	}
	.sale {
		&-description {
			font-size: 30px;
			letter-spacing: -0.6px;
		}
		&-title {
			font-size: 55px;
			font-weight: 700;
			margin-top: 30px;
			margin-bottom: 60px;
		}
	}
}
.box {
	position: relative;
	&-price {
		position: absolute;
		right: 0;
		text-align: right;
		&-old {
			font-size: 24px;
			font-weight: 700;
		}
		&-new {
			font-size: 42px;
			font-weight: 700;
			color: $important;
		}
	}
}
.notice {
	text-align: center;
	color: $white;
	padding: 64px 0 64px;
	&-title {
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 400;
		span {
			font-weight: 700;
		}
	}
	&-description {
		font-size: 21px;
	}
}

.collection {
	display: flex;
	justify-content: space-between;
	&-item {
		padding: 43px 0 63px;
		flex: 0 0 50%;
		background-repeat: no-repeat;
		background-size: 190px 171px;
		background-position: calc(100% - 37px) bottom;
	}
	&-man {
		background-image: url(../images/man.png);
	}
	&-woman {
		background-image: url(../images/woman.png);
	}
	&-title {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 25px;
		span {
			font-weight: 800;
		}
	}
	&-description {
		font-size: 16px;
		margin-bottom: 43px;
	}
}
.product {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	&-item {
		position: relative;
		flex: 0 0 24%;
		&::before,
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 25px;
			background-size: cover;
			background-repeat: no-repeat;
		}
		&::before {
			background-image: url(../images/item-top.svg);
		}
		&::after {
			background-image: url(../images/item-bottom.svg);
		}
	}
	&-title {
		font-weight: 600;
		margin-bottom: 15px;
	}
	&-price {
		color: $accent;
		font-size: 18px;
		font-weight: 700;
	}
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
	&-logo {
		flex: 0 0 40%;
	}
	&-nav {
		flex: 0 0 60%;
		display: flex;
		justify-content: space-between;
		color: $white;
	}
	&-list {
		list-style-type: none;
		padding-left: 0;
		&-title {
			font-size: 10px;
			font-weight: 700;
		}
		&-item {
			margin-bottom: 10px;
		}
		&-link {
			color: $gray;
			text-decoration: none;
			font-size: 14px;
		}
	}
	&-bottom {
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		&-copyright,
		&-link {
			font-size: 14px;
			color: $dark;
		}
	}
}
.vk,
.fb,
.inst {
	padding-left: 29px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 21px;
		height: 21px;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.vk {
	&::before {
		background-image: url(../images/vk.svg);
	}
}
.fb {
	&::before {
		background-image: url(../images/fb.svg);
	}
}
.inst {
	&::before {
		background-image: url(../images/inst.svg);
	}
}
